<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <connectionStrings >
    <add name ="SqlServer" connectionString="Data Source=SEM-BILGISAYAR;Initial Catalog=test;User ID=test2 ;Password=test2"/>
  </connectionStrings>
</packages>